@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans', sans-serif;
}

.main-container{
    display: flex;
}

.logocontainer{
    text-align: center;
    padding: 1rem;
    /* height: 3rem; */
    border-bottom: rgb(215, 215, 215) 1px solid;
}

.logo{
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: 'Dancing Script', cursive;;
    color: #28af62;
    font-size: 2rem;
    font-weight: 600;
    
}
.logo2{
    font-family: 'Dancing Script', cursive;;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

.sidebar{
    width: 15%;
    height: 100vh;
    background-color: white;
    border-right: rgb(215, 215, 215) solid 1px;
    z-index: 2;
}
.sidebar a{
    color: #6ecc96;
    text-decoration: none;
    transition: 0.3s;
}
.collapse{
    margin-left: 2rem;
}
.collapse li{
    margin-top: 1rem;
}
.mb-1{
    padding: 1rem;
    color: #28af62;
}
/* .sidebar ul{
    padding: 1rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
} */
/*
.sidebar li{
    width: 70%;
    margin: auto;
    padding: .5rem;
    border-radius: .5rem;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 2.2rem;
}
.sidebar li img{
    margin-right: .3rem;
}

.sidebar a:active,
.sidebar li:hover{
    background-color: #e1ffe3;
} */

#logout-button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #de464e;
    font-weight: 500;
    font-size: .9rem;
    transition: 0.3s;
    padding: .5rem;
    border-radius: .5rem;
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
}
#logout-button img{
    margin-right: .3rem;
}
#logout-button:hover{
    background-color: #ffc0c3;
    
}

.container{
    width: 85%;
    background-color: #f7f8fa;
}

.topbar{
    height: 80px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.searchbar{
    width: 80%;
    display: flex;
    align-items: center;
}
.searchbar form{
    display: flex;
    height: 80px;
    align-items: center;
    margin-left: 1rem;
}
.searchbar button{
    background-color: transparent;
    border: none;
}
.searchbar input{
    margin-left: 1rem;
    border: none;
    width: 40vw;
    background-color: #f7f8fa;
}
.searchbar input:focus{
    outline: none;
}

.dashboard{
    padding: 1.5rem;
}

.categories h3{
    font-size: 1.5rem;
    font-weight: 500;
}
.category{
    background-color: white;
    display: inline-block;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    margin-left: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 10px 1px rgb(222, 222, 222);
}
.category h4{
    color: rgb(60, 60, 60);
    font-weight: 400;
    font-size: 1rem;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
}
.products-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-row-gap: 2rem;
    row-gap: 1rem;
}
.product{
    background-color: white;
    width: 80%;
    display: inline-block;
    padding: 1rem;
    border-radius: 1.5rem;
    text-align: center;
}
.product h4{
    font-size: 1rem;
    font-weight: 550;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-top: .6rem;
    font-size: .6rem;
    align-items: baseline;
}
.price h3{
    font-size: 0.9rem;
    color: #28af62;
    font-weight: 600;
}
.price button{
    border: none;
    display: flex;
    align-items: center;
    padding: .2rem;
    border-radius: 5rem;
    background-color: #28af62;
}

#menu-button{
    display: none;
}
.flex{
    display: flex;
}
.category-menu{
    display: none !important;
    width: 20rem;
    color: #28af62;
}

.category-menu li{
    width: 80%;
    margin: auto;
    padding: 0rem;
    border-radius: .5rem;
    align-items: center;
    list-style: none;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/* flickty */
.main-carousel{
    overflow: hidden;
    padding: 1.5rem 3rem;
}

@media only screen and (max-width: 900px) {
    .sidebar{
        display: none;
        width: 80%;
    }
    .topbar{
        display: flex;
        align-items: center;
    }
    #menu-button{
        display: inline-block;
        margin-left: 1rem;
    }
    .searchbar input{
        width: 100%;
        padding: .8rem;
        border-radius: 1rem;
    }
    #logout-button{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
    }
    .heading{
        padding: 0;
    }
    .container{
        width: 100%;
        height: 100vh;
    }

    .main-carousel{
        overflow: hidden;
        padding: 0rem 3.5rem;
        width: 80vw;
    }

@media only screen and (max-width: 600px) {
    .sidebar{
        display: none;
        width: 80%;
    }
    .topbar{
        display: flex;
        align-items: center;
    }
    #menu-button{
        display: inline-block;
        margin-left: 1rem;
    }
    .searchbar input{
        width: 100%;
        padding: .8rem;
        border-radius: 1rem;
    }
    #logout-button{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .products-container{
        grid-template-columns: repeat(1,1fr);
    }
    .heading{
        padding: 0;
    }
    .container{
        width: 100%;
    }

    .main-carousel{
        overflow: hidden;
        padding: 0rem 3.5rem;
        width: 60vw;
    }
}
}